.about {
  margin-top: 40px;
}

.aboutImg {
  width: 20%;
  float: right;
  margin: 0 0 0 20px;

  .at-max(600px, {
    width: 40%;
  });
}

.animCount__area {
  position: relative;

  width: 100%;
  border-bottom: 3px solid var(--or);
  padding: 40px 0;
  background: var(--gr);
  margin-top: 40px;
}

.animCount__outer {
  width: 100%;
}

.animCount__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.animCount__wrapper_title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.animCount__wrapper_title h2 {
  margin: 0;
  color: #fff;
}

.animCount {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  justify-content: center;

  .at-max(768px, {
    width: 50%;
  });

}

.animCount__number {
  display: flex;
  align-items: center;
}

.animCount__number span {
  font-size: 50px;
  // color: #fff;
  color: var(--or);
  line-height: 1.2;

  .at-max(600px, {
    font-size: 32px;
  });

}

.animCount__numberInfo {
  font-size: 18px;
  color: #fff;
  line-height: 1.4;
  text-align: center;

  .at-max(600px, {
    font-size: 16px;
  });
}

/*************************************/

.adv__area {
  position: relative;
  padding: 50px 0 0;
}

.title1 {
  padding: 0 0 50px;
  text-align: center;
}

.adv {
  display: flex;
  flex-wrap: wrap;
}

.adv__item {
  width: 33.333%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 50px;

  .at-max(768px, {
    padding: 0 10px 30px;
  });

.at-max(600px, {
  width: 50%;
});
}

.adv__item i {
  color: var(--or);
  font-size: 72px;
  margin-bottom: 20px;

  .at-max(768px, {
    font-size: 50px;
  });
}

.adv__item span {
  color: var(--gr);
  font-size: 24px;
  text-align: center;

  .at-max(768px, {
    font-size: 18px;
  });
}