#map {
  width: 100%;
  height: 480px;
}

.baloon__top {
  font-size: 16px;
  font-weight: 700;
  color: var(--gr);
}

.baloon__description {
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
  color: #000;
}

.baloon__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.baloon__logo span {
  font-size: 28px;
  font-weight: 700;
}

.baloon__content img {
  display: block;
  width: 220px;
  margin-bottom: 10px;
}

.baloon__content a {
  font-size: 16px;
  font-weight: 700;
  color: var(--or);
}

.baloon__footer {
  font-size: 0.75rem;
  line-height: 1;
  font-weight: 400;
  color: var(--gr);
}

.footer__area {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--gr);
  border-top: 4px solid var(--or)
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer__info {
  display: flex;
  flex-direction: column;
}

.footerInfo__item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.footerInfo__item:last-child {
  margin-bottom: 0;

}

.footerInfo__item i {
  font-size: 16px;
  color: #fff;
  margin-right: 10px;
  color: var(--or);
}

.footerInfo__item span {
  font-size: 18px;
  color: #fff;
}

.footerInfo__item a {
  text-decoration: none;
  color: #fff;
}

.footerInfo__item a:hover {
  text-decoration: underline;
}