mixin about 
  .cont 
    .wcont 
      .about 
        .content.clearFix
          h1 Кэрос-медицина - <span style="color: var(--or);">it-компания</span>
          img.aboutImg(src="assets/img/medical2.svg", alt="" )
          //- p Мы — автоматизаторы и цифровизаторы. Наша компания создает программные продукты для косметологических клиник, бьюти-лабораторий и других организаций, оказывающих услуги в сфере красоты. Косметология — динамично развивающаяся отрасль медицины. В перспективе наш программный продукт будут использовать высококвалифицированные дипломированные врачи-косметологи. Также в разработке программные модули, которые будут собирать и наглядно представлять информацию, необходимую для анализа деятельность клиник и имидж-студий. Разрабатываемый ООО «Кэрос-Медицина» программный продукт пока не внесен в единый реестр российского ПО, он дорабатывается. В перспективе планируется создать коробочную версию и внести программное обеспечение в реестр.
          //- p Наша компания создает сайты, обеспечивает их текстовое наполнение. В работе над программными продуктами и сайтами максимально используется открытое программное обеспечение.
          //- p Мы предоставляем нашим клиентам услуги поддержки и обслуживания компьютерной техники и программного обеспечения. Консультируем персонал, обучаем работе с программой собственной разработки и софтом стороннего производства. Изучаем потребности клиентов, анализируем бизнес-процессы, предлагаем оптимальные решения для автоматизации хозяйственной деятельности.
          //- p Коллектив ООО «Кэрос-Медицина» состоит из профессионалов своего дела. Каждый из нас знает, что его деятельность влияет на общий результат и каждый стремится этот результат улучшить. Мы постоянно изучаем новинки компьютерной отрасли и совершенствуем свое профессиональное мастерство.
          p ООО «КЭРОС-МЕДИЦИНА» в июне 2023 года было перепрофилировано в ИТ-компанию. Целью такого перепрофилирования стала доработка и развитие программного продукта, который был создан для косметологической клиники в период с 2020 по июнь 2023 года.
          p Созданный продукт позволяет:
          ul
            li работать с клиентской базой,
            li регистрировать оказанные клиенту услуги и формировать их стоимость из позиций прайс-листа,
            li вести складской учет по методике управленческого учета, принятого в компании,
            li рассчитывать себестоимость по методике управленческого учета, принятого в компании,
            li рассчитывать размер денежных вознаграждений сотрудников по методике управленческого учета, принятого в компании,
            li формировать отчеты для руководства компании,
            li устанавливать наценки и скидки на отдельные товары и услуги,
            li продавать и принимать к оплате абонементы и подарочные сертификаты,
            li обслуживать клиентов по гарантийным письмам страховых компаний,
            li редактировать сайт.
          p Продукт планируется наделить новыми функциями, добавить блоки, которыми будет пользоваться медицинский персонал, доработать функционал для администраторов и руководства клиники косметологии. По итогам создания специализированного программного продукта его планируется внести в единый реестр российского ПО. Пока идет проектирование необходимых доработок и у ООО «КЭРОС-МЕДИЦИНА» нет готовых зарегистрированных в реестре программ. Деятельность компании по разработке ПО будет соответствовать кодам 1.01, 1.02, 1.05, 3.01, 8.01 <a href="https://digital.gov.ru/ru/documents/8374/" target="_blank" rel="nofollow">Перечня</a>.
          p ООО «КЭРОС-МЕДИЦИНА» занимается обслуживанием программного обеспечения и компьютерной техники косметологической клиники и имидж-студии, создает сайты, обеспечивает их текстовое наполнение. Обслуживание клиентов включает консультирование персонала, обучение сотрудников компаний работе с компьютерными программами, в том числе, той, которую ООО «КЭРОС-МЕДИЦИНА» дорабатывает. Изучаются потребности клиентов, анализируются бизнес-процессы, предлагаются оптимальные решения для автоматизации хозяйственной деятельности. Деятельность компании по обслуживанию ПО соответствует кодам 1.05, 1.06, 3.01, 4.01 <a href="https://digital.gov.ru/ru/documents/8374/" target="_blank" rel="nofollow">Перечня</a>.
mixin blueLine 
  .cont 
    .animCount__area 
      .animCount__wrapper_title.wcont
        h2 Кэрос-медицина - это:


mixin animCount 
  .cont  

      .animCount__area
        .animCount__outer
          .animCount__wrapper.wcont
            .animCount
              .animCount__number
                span.animCount__numberOn 33
                span +
              .animCount__numberInfo
                | года 
                br
                | профессионального опыта
            .animCount
              .animCount__number
                span.animCount__numberOn 8
                span +
              .animCount__numberInfo
                | квалифицированных
                br
                | сотрудников
            .animCount
              .animCount__number
                span.animCount__numberOn 50
                span +
              .animCount__numberInfo
                | обученных 
                br
                | сотрудников клиники
            .animCount
              .animCount__number
                span.animCount__numberOn 49
                span +
              .animCount__numberInfo
                | Текущих 
                br
                | задач

mixin adv 
  .adv__area.cont 
    .wcont
      //- .title1 
      //-   h2 Кэрос-медицина - это:
      .adv
        .adv__item 
          i.fa.fa-microchip
          span Современные технические решения
        //- .adv__item 
        //-   i.fa.fa-linux
        //-   span Легальные программные продукты
        .adv__item 
          i.fa.fa-cogs
          span Профессиональная команда
        .adv__item 
          i.fa.fa-bug
          span Многоуровневое тестирование ПО
        .adv__item 
          i.fa.fa-graduation-cap
          span Обучение пользователей
        //- .adv__item 
        //-   i.fa.fa-tachometer
        //-   span Скорость реагирования на проблемы
        .adv__item 
          i.fa.fa-language
          span Возможность внедрения мультиязычности
        //- .adv__item 
        //-   i.fa.fa-database
        //-   span Современные системные хранилища
        .adv__item 
          i.fa.fa-users
          span Дружный коллектив