mixin about 
  .cont 
    .wcont 
      .about 
        .content.clearFix
          h1 Кэрос-медицина - <span style="color: var(--or);">it-компания</span>
          img.aboutImg(src="assets/img/medical2.svg", alt="" )
          p Мы — автоматизаторы и цифровизаторы. Наша компания создает программные продукты для косметологических клиник, бьюти-лабораторий и других организаций, оказывающих услуги в сфере красоты. Косметология — динамично развивающаяся отрасль медицины. В перспективе наш программный продукт будут использовать высококвалифицированные дипломированные врачи-косметологи. Также в разработке программные модули, которые будут собирать и наглядно представлять информацию, необходимую для анализа деятельность клиник и имидж-студий.
          p Наша компания создает сайты, обеспечивает их текстовое наполнение. В работе над программными продуктами и сайтами максимально используется открытое программное обеспечение.
          p Коллектив ООО «Кэрос-Медицина» состоит из профессионалов своего дела. Каждый из нас знает, что его деятельность влияет на общий результат и каждый стремится этот результат улучшить. Мы постоянно изучаем новинки компьютерной отрасли и совершенствуем свое профессиональное мастерство.
mixin blueLine 
  .cont 
    .animCount__area 
      .animCount__wrapper_title.wcont
        h2 Кэрос-медицина - это:


mixin animCount 
  .cont  

      .animCount__area
        .animCount__outer
          .animCount__wrapper.wcont
            .animCount
              .animCount__number
                span.animCount__numberOn 33
                span +
              .animCount__numberInfo
                | года 
                br
                | профессионального опыта
            .animCount
              .animCount__number
                span.animCount__numberOn 8
                span +
              .animCount__numberInfo
                | квалифицированных
                br
                | сотрудников
            .animCount
              .animCount__number
                span.animCount__numberOn 50
                span +
              .animCount__numberInfo
                | обученных 
                br
                | сотрудников клиники
            .animCount
              .animCount__number
                span.animCount__numberOn 49
                span +
              .animCount__numberInfo
                | Текущих 
                br
                | задач

mixin adv 
  .adv__area.cont 
    .wcont
      //- .title1 
      //-   h2 Кэрос-медицина - это:
      .adv
        .adv__item 
          i.fa.fa-microchip
          span Современные технические решения
        .adv__item 
          i.fa.fa-linux
          span Легальные программные продукты
        .adv__item 
          i.fa.fa-cogs
          span Профессиональная команда разработчиков
        .adv__item 
          i.fa.fa-bug
          span Отдел многоуровнего тестирования ПО
        .adv__item 
          i.fa.fa-graduation-cap
          span Учебные семинары для пользователей ПО
        //- .adv__item 
        //-   i.fa.fa-tachometer
        //-   span Скорость реагирования на проблемы
        .adv__item 
          i.fa.fa-language
          span Возможность внедрения мультиязычности
        .adv__item 
          i.fa.fa-database
          span Современные системные хранилища
        .adv__item 
          i.fa.fa-users
          span Дружный коллектив