mixin myMap 
  .cont.map__area 
    #map 

mixin footer 
  .cont.footer__area 
    footer.footer.wcont 
      .logo1 
        a(href="#")
          img(src="assets/img/meddix_logo1_white.svg", alt="") 
      .footer__info 
        .footerInfo__item 
          i.fa.fa-map-marker
          span 410012, г. Саратов, ул. Московская, д. 117
        .footerInfo__item 
          i.fa.fa-clock-o
          span ежедневно с 9:00 до 18:00
        .footerInfo__item 
          i.fa.fa-envelope-o
          a(href="mailto:info@keros-med.ru") info@keros-med.ru

