mixin myMap 
  .cont.map__area 
    #map 

mixin footer 
  .cont.footer__area 
    footer.footer.wcont 
      .logo1 
        //- a(href="#")
          //- img(src="assets/img/meddix_logo_or_bl.svg", alt="") 
        span(style="color: #fff;") Кэрос
        span.or MED
      .footer__info 
        .footerInfo__item 
          i.fa.fa-map-marker
          span 410012, г. Саратов, ул. Московская, д. 117
        .footerInfo__item 
          i.fa.fa-clock-o
          span ежедневно с 9:00 до 18:00
        .footerInfo__item 
          i.fa.fa-envelope-o
          a(href="mailto:info@keros-med.ru") info@keros-med.ru
        .footerInfo__item 
          i.fa.fa-phone
          a(href="tel:+78452759955") +7 (8452) 75-99-55

