mixin mainSlider
  .mainSlider
    .swiper-container.swiper-container1
      .swiper-wrapper
        .swiper-slide.swiper-slide1(style='background-image: url(assets/img/slider1/013.jpg);')
          .swiper__cadr
            .swiper__inner1
              .swiper__title1
                | Разработка ПО для клиник красоты
              .swiper__text1
                | Контроль за бизнес-процессами медицинского учреждения и анализ его деятельности
              //- .swiper__link1
              //-   a(href='#') Подробнее...
        .swiper-slide.swiper-slide1(style='background-image: url(assets/img/slider1/012.jpg);')
          .swiper__cadr
            .swiper__inner1
              .swiper__title1
                | Внедрение собственных разработок
              .swiper__text1
                | Наша система успешно опробирована в Клинике красоты "Бьюти Лаунж"
              //- .swiper__link1
              //-   a(href='#') Подробнее...
        .swiper-slide.swiper-slide1(style='background-image: url(assets/img/slider1/04.jpg);')
          .swiper__cadr
            .swiper__inner1
              .swiper__title1
                | Совершенствование кода
              .swiper__text1
                | Наши специалисты постоянно улучшают функционал ПО
              //- .swiper__link1
              //-   a(href='#') Подробнее...
      .swiper-button-prev.swiper-button-prev1
        i.fa.fa-angle-left(aria-hidden='true')
      .swiper-button-next.swiper-button-next1
        i.fa.fa-angle-right(aria-hidden='true')
      .swiper-pagination.swiper-pagination1