mixin mainSlider
  .mainSlider
    .swiper-container.swiper-container1
      .swiper-wrapper
        .swiper-slide.swiper-slide1(style='background-image: url(assets/img/slider1/012.jpg);')
          .swiper__cadr
            .swiper__inner1
              .swiper__title1
                | Разработка собственных программных продуктов 
              .swiper__text1
                | Идеи по автоматизации для косметологических клиник
              //- .swiper__link1
              //-   a(href='#') Подробнее...
        .swiper-slide.swiper-slide1(style='background-image: url(assets/img/slider1/013.jpg);')
          .swiper__cadr
            .swiper__inner1
              .swiper__title1
                | Анализ бизнес-процессов медицинских учреждений
              .swiper__text1
                | Внедрение программных решений
              //- .swiper__link1
              //-   a(href='#') Подробнее...
        .swiper-slide.swiper-slide1(style='background-image: url(assets/img/slider1/07.jpg);')
          .swiper__cadr
            .swiper__inner1
              .swiper__title1
                | Обучение работе с программными продуктами
              .swiper__text1
                | Написание инструкций и консультации пользователей
              //- .swiper__link1
              //-   a(href='#') Подробнее...
      .swiper-button-prev.swiper-button-prev1
        i.fa.fa-angle-left(aria-hidden='true')
      .swiper-button-next.swiper-button-next1
        i.fa.fa-angle-right(aria-hidden='true')
      .swiper-pagination.swiper-pagination1