- var pageTitle = 'Кэрос-медицина'
- var seoKeywords = 'Ключевые слова для страницы'
- var seoDesc = 'Сео описание для страницы'

include __const
include __header
include __sliders
include __about
include __forms
include __footer





<!DOCTYPE html>
html(lang="ru-RU")
  +head
body
  .site__header
    +header

  .site__center
    +mainSlider
    +about
    +animCount
    +adv
    +form1
    +myMap

  .site__footer
    +footer
    

  +scripts
  
